/.idea/.gitignore
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Rediska.iml
/.idea/vcs.xml
/cmake-build-debug
/cmake-build-release
/tests/cmake-build-debug
/tests/cmake-build-release
/build
.cache
allure-report
allure-results
.allure
