name: Linux (Ubuntu-24.04) CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        config:
          - { compiler: gcc, version: 14, std: 23, build_type: Release }
          - { compiler: clang, version: 20, std: 23, build_type: Release }
    name: "${{matrix.config.compiler}} ${{matrix.config.version}} (C++${{matrix.config.std}}, ${{matrix.config.build_type}})"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.config.compiler }}-${{ matrix.config.version }}
          cmake: true

      - name: Configure
        run: |
          cmake -B build -S . \
            -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }} \
            -DCMAKE_CXX_STANDARD=${{ matrix.config.std }}

      - name: Build
        run: |
          cmake --build build -j 4

      - name: Test
        run: |
          ctest --exclude-regex static --test-dir build -j 4 --output-on-failure
